.form {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.title {
	font-size: 20px;
	font-weight: 500;
	color: #1e293b;
	margin: 0;
	line-height: 30px;
}

.form_fields {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding-left: 8px;
}

.form_footer {
	align-self: flex-end;
	display: flex;
	gap: 10px;
	margin-block: 10px;
}

.cancel_btn,
.add_btn {
	width: 120px;
	height: 40px;
	border-radius: 8px;
	font-size: 16px;
	font-weight: 500;
	cursor: pointer;
	transition: all 0.3s ease;
	outline: none;
	border: none;
	background-color: #00b894;
	color: #fff;

	&:hover {
		background-color: #00dca0;
	}

	&:disabled {
		background-color: #beebd8;
		cursor: not-allowed;
	}
}
.cancel_btn {
	color: #00b894;
	background-color: #fff;
	border: 1px solid #00b894;

	&:hover {
		background-color: #fff;
		border-color: #00dca0;
		color: #00dca0;
	}
}
