.input_box {
	display: flex;
	flex-direction: column;
	gap: 3px;
	width: 450px;
}

.input {
	padding: 10px;
	border: 1px solid #e2e8f0;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s ease-in-out;
	color: #64748b;
	font-size: 16px;
	font-weight: 400;
}

.half_width {
	width: 200px;
}

.textarea {
	padding: 10px;
	border: 1px solid #e2e8f0;
	border-radius: 8px;
	outline: none;
	transition: all 0.3s ease-in-out;
	color: #64748b;
	font-size: 16px;
	font-weight: 400;
	resize: none;
    font-family: "poppins", sans-serif;
}
