.error_input_box {
	display: flex;
	flex-direction: column;
	gap: 3px;
	margin-bottom: 20px;
}
.dynamic_input_wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	height: 40px;
	width: 320px;
	height: 50px;
	border-radius: 4px;
	border: 1px solid #e0e0e0;
	padding: 0 10px;
	transition: all 0.3s ease;

	&:hover {
		border-color: #007bff;
	}
}

.error {
	border-color: #ef4444;
}

.icon_left {
	width: 20px;
	height: 20px;
}
.icon_right {
	width: 24px;
	height: 24px;
	cursor: pointer;
	transition: all 0.3s ease;
}

.dynamic_input {
	flex-grow: 1;
	height: 100%;
	border: none;
	outline: none;
	padding: 0 10px;
	font-size: 16px;
	font-weight: 400;
	color: #64748b;
}

.error_message {
	font-size: 10px;
	font-weight: 400;
	color: #ef4444;
	display: flex;
	align-items: center;
	gap: 2px;
}

@media (min-width: 320px) and (max-width: 480px) {
	.dynamic_input_wrapper {
		width: 280px;
		height: 45px;
	}

	.icon_left {
		width: 16px;
		height: 16px;
	}
	.icon_right {
		width: 20px;
		height: 20px;
	}

	.dynamic_input {
		font-size: 15px;
	}
}

@media (min-width: 481px) and (max-width: 767px) {
	.dynamic_input_wrapper {
		width: 280px;
		height: 45px;
	}

	.icon_left {
		width: 16px;
		height: 16px;
	}
	.icon_right {
		width: 20px;
		height: 20px;
	}

	.dynamic_input {
		font-size: 15px;
	}
}

/* @media (min-width: 768px) and (max-width: 991px) {
}

@media (min-width: 992px) and (max-width: 1199px) {
}

@media (min-width: 1200px) {
} */
